<%= javascript_include_tag('https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js') %>
<%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" %>
<div id="app">  
</div> 