<div id="<%= dom_id rating %>">
  <p>
    <strong>Avg rating:</strong>
    <%= rating.avg_rating %>
  </p>

  <p>
    <strong>Location rating:</strong>
    <%= rating.location_rating %>
  </p>

  <p>
    <strong>Facilities rating:</strong>
    <%= rating.facilities_rating %>
  </p>

</div>
